* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ibm-2;
}

:root {
  --brown-050: #f8f6ee;
  --brown--100: #ede8d4;
  --brown-200: #dcd0ac;
  --brown-300: #c8b27c;
  --brown-400: #b79858;
  --brown-500: #a8854a;
  --brown-600: #906b3e;
  --brown-700: #725033;
  --brown-800: #624531;
  --brown-900: #553b2e;
  --brown--950: #301f18;
}

@font-face {
  font-family: ibm-1;
  src: url(../fonts/IBM-Regular.ttf);
}

@font-face {
  font-family: ibm-2;
  src: url(../fonts/IBM-Medium.ttf);
}

@font-face {
  font-family: ibm-3;
  src: url(../fonts/IBM-SemiBold.ttf);
}

@font-face {
  font-family: ibm-4;
  src: url(../fonts/IBM-Bold.ttf);
}

/* h1 {
  font-family: ibm-4;
  color: var(--brown-700) !important;
} */

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url(../images/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  flex-direction: column;
}

#home img {
  width: 300px;
  border-radius: 100px;
  border: 5px var(--brown--950) solid;
}
