* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brown-050: #f8f6ee;
  --brown--100: #ede8d4;
  --brown-200: #dcd0ac;
  --brown-300: #c8b27c;
  --brown-400: #b79858;
  --brown-500: #a8854a;
  --brown-600: #906b3e;
  --brown-700: #725033;
  --brown-800: #624531;
  --brown-900: #553b2e;
  --brown--950: #301f18;
}

#home,
#about,
#portfolio,
#contact {
  min-height: 100dvh;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url(../assets/images/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  flex-direction: column;
}

#home img {
  width: 300px;
  border-radius: 50%;
  border: 5px var(--brown--950) solid;
}

#home h3 {
  font-family: "IBM Plex Mono" !important;
  font-weight: 300;
  font-size: 2rem;
  color: var(--brown--100);
}

#home h3 .name {
  font-family: "IBM Plex Mono" !important;
  font-weight: 700;
}

#home h1 {
  font-family: "IBM Plex Mono" !important;
  font-size: 4rem;
  font-weight: 700;
  color: var(--brown--950);
}

#home .home-links a {
  border: 0;
  background-color: #ede8d44d;
  font-family: "IBM Plex Mono" !important;
  font-weight: 600;
  padding: 5px 20px;
  font-size: 1.5rem;
  color: var(--brown--950);
  border: 5px solid var(--brown--950);
  border-radius: 12px;
}

#home .home-links :nth-child(1) {
  margin-right: 20px;
}

#home .home-links i {
  margin: 0 !important;
}

#home .home-links a:active {
  transform: translateY(3px);
}

@media (max-width: 575.98px) {
  #home img {
    width: 150px;
    border: 3px var(--brown--950) solid;
  }
  #home h3 {
    font-size: 1.2rem;
  }
  #home h1 {
    font-size: 2rem;
    text-align: center !important;
  }
  #home .home-links a {
    text-align: center !important;
    font-size: 1rem;
    padding: 5px 10px;
    border: 3px var(--brown--950) solid;
  }
}

/*
@media (max-width: 575.98px) {
  Styles for phones
}

@media (min-width: 576px) and (max-width: 767.98px) {
  Styles for small tablets
}

@media (min-width: 768px) and (max-width: 991.98px) {
  Styles for medium tablets
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  Styles for small desktops
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  Styles for large desktops
}

@media (min-width: 1400px) {
  Styles for very large screens
}
*/
