* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--background);
}

:root {
  --background: #100d0a;
  --content: #f9eae1;
  --accent: #6e4b3a;
  --hover: #976851;
  --button: #f9eae1;
}

.light-mode {
  --background: #f9eae1;
  --content: #100d0a;
  --accent: #6e4b3a;
  --hover: #976851;
  --button: #f9eae1;
}

body {
  background-color: var(--background);
  font-family: "space grotesk";
  color: var(--content) !important;
}

nav {
  background-color: var(--background) !important;
}

#theme-toggle {
  font-family: "space grotesk" !important;
  font-size: 15px !important;
  color: var(--button) !important;
  background-color: var(--accent) !important;
  border: none !important;
  width: 40px;
  border-radius: 500px !important;
  padding: 2px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
}

#theme-toggle:hover {
  background-color: var(--hover) !important;
}

#hero {
  min-height: 90dvh;
}

#hero img {
  width: 200px;
}

#hero h1 {
  font-size: 3rem !important;
  text-transform: uppercase !important;
}

#hero h2 {
  font-size: 2rem !important;
}

#hero h3 {
  font-size: 1.6rem !important;
}

#hero .socials {
  display: flex !important;
  justify-content: center !important;
  gap: 18px !important;
  margin: 15px 0 !important;
}

#hero .socials a {
  color: var(--content) !important;
  transition: color 0.3s !important;
}

#hero .socials a:hover {
  color: var(--hover) !important;
}

#resume-btn {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: var(--button) !important;
  background-color: var(--accent) !important;
  border: none !important;
  padding: 5px 20px !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
}

#resume-btn:hover {
  background-color: var(--hover) !important;
}

.section-title {
  font-size: 2.5rem !important;
  text-transform: uppercase !important;
  font-weight: bolder !important;
  color: var(--accent);
}

.section-title i {
  font-size: 2.3rem;
}

#more p,
#plus p {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  text-align: justify;
  width: 98%;
  margin: 0 auto;
}

#education img,
#certificates img,
#projects img {
  width: 60px !important;
  border-radius: 50% !important;
  margin-right: 10px !important;
  border: 0 !important;
}

#div-border {
  border: 2px solid var(--accent) !important;
  background-color: var(--button) !important;
  border-radius: 20px !important;
}

#services #div-border i {
  color: var(--accent) !important;
}

h6 {
  margin-bottom: 0;
}

#back-to-top {
  color: var(--content) !important;
}

footer {
  background-color: var(--background) !important;
  color: var(--content) !important;
  border: 2px solid var(--accent) !important;
  border-bottom: none !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 575.98px) {
  #theme-toggle {
    font-size: 12px !important;
  }
  #hero img {
    width: 150px;
  }

  #hero h1 {
    font-size: 1.8rem !important;
  }

  #hero h2 {
    font-size: 1.2rem !important;
  }

  #hero h3 {
    font-size: 1rem !important;
  }

  #hero .socials {
    font-size: 0.7rem !important;
    gap: 10px !important;
    margin: 10px 0 !important;
  }

  #resume-btn {
    font-size: 0.9rem !important;
  }

  .section-title {
    font-size: 1.6rem !important;
  }

  .section-title i {
    font-size: 1.5rem;
  }

  #more p,
  #plus p {
    font-size: 0.8rem !important;
  }

  #education img,
  #certificates img,
  #projects img {
    width: 50px !important;
    border-radius: 50% !important;
    margin-right: 5px !important;
  }

  footer p,
  footer button {
    font-size: 0.8rem !important;
  }

  .education a h2 {
    font-size: 0.9rem !important;
  }
  .education p {
    font-size: 0.8rem !important;
  }

  .certificates h2 {
    font-size: 0.9rem !important;
  }
  .certificates p {
    font-size: 0.8rem !important;
  }
  .certificates a {
    font-size: 0.8rem !important;
  }

  .projects h2 {
    font-size: 0.8rem !important;
  }
  .projects a p {
    font-size: 0.8rem !important;
  }

  .skills p {
    font-size: 0.8rem !important;
  }

  .services i {
    font-size: 1.2rem !important;
  }
  .services h6 {
    font-size: 0.7rem !important;
  }
}

/*
@media (max-width: 575.98px) {
  Styles for phones
}

@media (min-width: 576px) and (max-width: 767.98px) {
  Styles for small tablets
}

@media (min-width: 768px) and (max-width: 991.98px) {
  Styles for medium tablets
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  Styles for small desktops
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  Styles for large desktops
}

@media (min-width: 1400px) {
  Styles for very large screens
}
*/
